# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: CI

on:
  push:
    branches: [ "main", "feature/image-feed/ios-platform-support" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ios-build-and-test:
    - name: iOS CI Tests
    runs-on: macos-latest

    steps:
    - name: Checkout repository
    - uses: actions/checkout@v3

    - name: Set up Xcode
      uses: actions/setup-xcode@v3
      with:
        xcode-version: "latest"

      # run: sudo xcode-select -switch /Applications/Xcode_14.2.app
    
    - name: Build and Test iOS
      run: xcodebuild clean build test -project EssentialFeed.xcodeproj -scheme "CI_iOS" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -sdk iphonesimulator -destination "platform=iOS Simulator,OS=17.0,name=iPhone 15" ONLY_ACTIVE_ARCH=YES


  macos-build-and-test:
    - name: macOS CI Tests
    runs-on: macos-latest

    steps:
    - name: Checkout repository
    - uses: actions/checkout@v3
      # run: sudo xcode-select -switch /Applications/Xcode_14.2.app
    
    - name: Build and Test iOS
      run: xcodebuild clean build test -project EssentialFeed.xcodeproj -scheme "CI_macOS" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -sdk macosx -destination "platform=macOS" ONLY_ACTIVE_ARCH=YES
